@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  margin: 0;
}

// containers
@import "../components/containers/Hero/Hero.scss";
@import "../components/containers/Mart/Mart.scss";    
@import "../components/containers/Find/Find.scss";    
@import "../components/containers/Partners/Partners.scss";    
